certifi==2023.7.22
bcrypt==4.0.1
boto3==1.18.12
coverage==5.5
elasticsearch==8.3.3
eventlet==0.33.3
flask==3.0.0
flask-cors==4.0.0
flask-jwt-extended==4.5.3
Flask-Mail==0.9.1
Flask-Migrate==4.0.4
flask-marshmallow==0.15.0
Flask-SocketIO==5.3.6
gunicorn==21.2.0
marshmallow-sqlalchemy==0.29.0
nose2==0.9.2
psycopg2-binary==2.9.5
pycountry==19.8.18
pytest==7.0.1
python-dotenv==0.19.0
redis==4.5.4
sqlalchemy-utils==0.38.3
webargs==8.3.0
